@using SiteWithAuthentication.WEB.Models
@model IEnumerable<CourseViewModel>

@section styles {
    <link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Your assignment courses";
}
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th class="text-center" style="width: 27%">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-center" style="width: 33%">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="text-center" style="width: 5%">
                    @Html.DisplayNameFor(model => model.CourseTestQuestionsNumber)
                </th>
                <th class="text-center" style="width: 5%">
                    @Html.DisplayNameFor(model => model.TopicTestQuestionsNumber)
                </th>
                <th class="text-center" style="width: 5%">
                    @Html.DisplayNameFor(model => model.TimeToAnswerOneQuestion)
                </th>
                <th class="text-center" style="width: 5%">
                    @Html.DisplayNameFor(model => model.AttemptsNumber)
                </th>
                <th class="text-center" style="width: 5%">
                    @Html.DisplayNameFor(model => model.PassingScore)
                </th>
                <th class="text-center" style="width: 5%">
                    @Html.DisplayNameFor(model => model.IsApproved)
                </th>
                <th class="text-center" style="width: 5%">
                    @Html.DisplayNameFor(model => model.IsFree)
                </th>
                <th style="width: 5%"></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.CourseTestQuestionsNumber)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TopicTestQuestionsNumber)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TimeToAnswerOneQuestion)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.AttemptsNumber)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PassingScore)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.IsFree)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Topics", "CourseTopics", "TestManagement", new { id = item.Id }, null)
                </td>
            </tr>
            }

        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Back to Main page", "Index", "Home")
</p>